{% extends 'admin/tutorial/partial/base.html.twig' %}

{% block tuto_body %}
    <p class="text-semibold text-main">Nous allons vous présenter les différents menus de l'application</p>
    <p>Deux menus sont présents :</p>
    <ul>
        <li>
            Menu du haut : permet de gérer les informations concernant votre compte et votre facturation.
        </li>
        <li>
            Menu de gauche : permet d'administrer votre site (gestion du contenu).
        </li>
    </ul>
{% endblock %}

{% block modal_class %}
{% endblock %}

{% block tuto_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% set tuto = app.request.get('tuto') %}
            if ('{{ tuto }}' === '1') {
                var tutoMenu = prepareTuto{{ tuto_id }}();
                tutoMenu.modal('show');
            }
        });
    </script>

{% endblock %}