
###> symfony/framework-bundle ###
/.env
/public/bundles/fosckeditor/adapters
/public/bundles/fosckeditor/lang
/public/bundles/fosckeditor/plugins/*
!/public/bundles/fosckeditor/plugins/background/
!/public/bundles/fosckeditor/plugins/slider/
!/public/bundles/fosckeditor/plugins/banner/
!/public/bundles/fosckeditor/plugins/cards/
!/public/bundles/fosckeditor/plugins/videodetector/
!/public/bundles/fosckeditor/plugins/fakeobjects/
!/public/bundles/fosckeditor/plugins/resetcontent/
!/public/bundles/fosckeditor/plugins/slicky/
!/public/bundles/fosckeditor/plugins/iziButton/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/public/.htaccess
/.idea

/public/uploads
