{% extends 'bo/base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/unitegallery/css/unitegallery.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section class="g-bg-firebrock-light-v5">
    <div class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-10">
                <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
                    {% include 'bo/order/wizard.html.twig' with {'step': 4} %}

                    <div id="nav-1-2-default-hor-left-big-icons" class="tab-content">
                        <div class="tab-pane fade show active" id="nav-1-2-default-hor-left-big-icons--1"role="tabpanel">
                            <div id="wizard-tab1" class="tab-pane">
                                <div class="mt50">

                                    <form action="/order/1/aa/payment" method="post" id="payment-form">

                                            <div class="form-group g-mb-20">
                                                <label class="g-mb-10">Titulaire du compte</label>
                                                <div class="input-group g-brd-primary--focus">
                                                    <input id="inputGroup1_3" class="form-control form-control-md g-brd-right-none rounded-0" name="name" type="text" placeholder="Titulaire du compte">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i class="icon-user"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group g-mb-20">
                                                <label class="g-mb-10">Email</label>
                                                <div class="input-group g-brd-primary--focus">
                                                    <input id="inputGroup1_3" class="form-control form-control-md g-brd-right-none rounded-0" name="email" type="text" placeholder="email">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i class="icon-user"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                        <div class="form-group g-mb-20">
                                            <label class="g-mb-10">Card Stripe</label>
                                            <div class="input-group g-brd-primary--focus">
                                                <div id="card-element" class="field"></div>
                                            </div>
                                        </div>

                                            <div id="card-errors" role="alert"></div>
                                            <div class="form-group g-mb-20">
                                                <label class="g-mb-10">Credit card masking</label>
                                                <div class="input-group g-brd-primary--focus">
                                                    <input id="inputGroup1_3" class="form-control form-control-md g-brd-right-none rounded-0" type="text" placeholder="XXXX-XXXX-XXXX-XXXX" data-mask="9999-9999-9999-9999">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i class="icon-credit-card"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-6 g-mb-40 g-mb-0--xl">
                                                    <!-- Datepicker -->
                                                    <label class="g-mb-10">Credit card masking</label>
                                                    <div class="input-group g-brd-primary--focus">
                                                        <input id="inputGroup1_3" class="form-control form-control-md g-brd-right-none rounded-0" type="text" placeholder="XX/XX" data-mask="99/99">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i class="icon-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                    <!-- End Datepicker -->
                                                </div>

                                                <div class="col-xl-6">
                                                    <!-- Datepicker -->
                                                    <label class="g-mb-10">Credit card masking</label>
                                                    <div class="input-group g-brd-primary--focus">
                                                        <input id="inputGroup1_3" class="form-control form-control-md g-brd-right-none rounded-0" type="text" placeholder="XXX" data-mask="999">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i class="icon-key"></i></span>
                                                        </div>
                                                    </div>
                                                    <!-- End Datepicker -->
                                                </div>
                                            </div>

                                            <div class="col-sm-12 form-group text-right mt50">
                                                <button type="submit" class="btn btn-blue btn-lg">Suivant</button>
                                            </div>
                                        <div class="outcome">
                                            <div class="error"></div>
                                            <div class="success">
                                                Success! Your Stripe token is <span class="token"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}

    <!-- JS Implementing Plugins -->
    <script  src="{{ asset('assets/bo/js/components/jquery.maskedinput/src/jquery.maskedinput.js') }}"></script>

    <!-- JS Unify -->
    <script  src="{{ asset('assets/bo/js/components/hs.masked-input.js') }}"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of forms
            $.HSCore.components.HSMaskedInput.init('[data-mask]');
        });
    </script>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
        var elements = stripe.elements({
            fonts: [
                {
                    family: 'Open Sans',
                    weight: 400,
                    src: 'local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2")',
                    unicodeRange: 'U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215',
                },
            ]
        });

        var card = elements.create('card', {
            hidePostalCode: true,
            style: {
                base: {
                    iconColor: '#F99A52',
                    color: '#32315E',
                    lineHeight: '48px',
                    fontWeight: 400,
                    fontFamily: '"Open Sans", "Helvetica Neue", "Helvetica", sans-serif',
                    fontSize: '15px',

                    '::placeholder': {
                        color: '#CFD7DF',
                    }
                },
            }
        });
        card.mount('#card-element');

        function setOutcome(result) {
            var successElement = document.querySelector('.success');
            var errorElement = document.querySelector('.error');
            successElement.classList.remove('visible');
            errorElement.classList.remove('visible');

            if (result.token) {
                // Use the token to create a charge or a customer
                // https://stripe.com/docs/charges
                successElement.querySelector('.token').textContent = result.token.id;
                successElement.classList.add('visible');
            } else if (result.error) {
                errorElement.textContent = result.error.message;
                errorElement.classList.add('visible');
            }
        }

        card.on('change', function(event) {
            setOutcome(event);
        });

        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault();
            var form = document.querySelector('form');
            var extraDetails = {
                //name: form.querySelector('input[name=cardholder-name]').value,
                //address_zip: form.querySelector('input[name=address-zip]').value
            };
            stripe.createToken(card, extraDetails).then(setOutcome);
        });

    </script>

    <style type="text/css">


        @font-face {
            font-family: 'Open Sans';
            font-weight: 400;
            src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2");
            unicodeRange: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
        }

        * {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 15px;
            font-variant: normal;
            padding: 0;
            margin: 0;
        }

        html {
            height: 100%;
        }

        body {
            background: #F6F9FC;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100%;
        }

        form {
            width: 480px;
            margin: 20px 0;
        }

        label {
            position: relative;
            color: #6A7C94;
            font-weight: 400;
            height: 48px;
            line-height: 48px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
        }

        label > span {
            width: 115px;
        }

        .field {
            background: white;
            box-sizing: border-box;
            font-weight: 400;
            border: 1px solid #CFD7DF;
            border-radius: 24px;
            color: #32315E;
            outline: none;
            flex: 1;
            height: 48px;
            line-height: 48px;
            padding: 0 20px;
            cursor: text;
        }

        .field::-webkit-input-placeholder { color: #CFD7DF; }
        .field::-moz-placeholder { color: #CFD7DF; }

        .field:focus,
        .field.StripeElement--focus {
            border-color: #F99A52;
        }

        button {
            float: left;
            display: block;
            background-image: linear-gradient(-180deg, #F8B563 0%, #F99A52 100%);
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #E57C45;
            color: white;
            border-radius: 24px;
            border: 0;
            margin-top: 20px;
            font-size: 17px;
            font-weight: 500;
            width: 100%;
            height: 48px;
            line-height: 48px;
            outline: none;
        }

        button:focus {
            background: #EF8C41;
        }

        button:active {
            background: #E17422;
        }

        .outcome {
            float: left;
            width: 100%;
            padding-top: 8px;
            min-height: 20px;
            text-align: center;
        }

        .success, .error {
            display: none;
            font-size: 13px;
        }

        .success.visible, .error.visible {
            display: inline;
        }

        .error {
            color: #E4584C;
        }

        .success {
            color: #F8B563;
        }

        .success .token {
            font-weight: 500;
            font-size: 13px;
        }



    </style>

{% endblock %}
