<ul class="nav text-center nav-justified u-nav-v1-2" role="tablist"
    data-target="nav-1-2-default-hor-left-big-icons" data-tabs-mobile-type="slide-up-down"
    data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray g-mb-20">
    <li class="nav-item">
        <a class="nav-link {% if step == 1 %}active{% endif %}" data-toggle="tab"
           href="#nav-1-2-default-hor-left-big-icons--1" role="tab">
            <i class="icon-food-032 u-line-icon-pro icon-2x d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Création
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  {% if step == 2 %}active{% endif %}" data-toggle="tab"
           href="#nav-1-2-default-hor-left-big-icons--3" role="tab">
            <i class="icon-directions icon-2x d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Options
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if step == 3 %}active{% endif %}" data-toggle="tab"
           href="#nav-1-2-default-hor-left-big-icons--4" role="tab">
            <i class="icon-user u-line-icon-pro d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Compte
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  {% if step == 4 %}active{% endif %}" data-toggle="tab"
           href="#nav-1-2-default-hor-left-big-icons--5" role="tab">
            <i class="icon-sport-118 u-line-icon-pro d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Fin
        </a>
    </li>
</ul>
<!--progress bar-->
<div class="progress progress-sm">
    <div class="progress-bar progress-bar-firebrock" style="width:{{ 25 * step }}%"></div>
</div>