{% extends 'admin/tutorial/partial/base.html.twig' %}

{% block tuto_body %}
    <p class="text-semibold text-main">Renseignement des éléments de référencement</p>
    <p>Dans la page de référencement, et plus particulièrement dans le référencement de la page <strong>Accueil</strong>,
        vous devez indiquer</p>
    <p>Un titre. Exemple:</p>
    <ul class="no-vertical-spacing">
        <li>Accueil <span class="text-italic">(par défaut)</span></li>
        <li>Bienvenue</li>
        <li class="text-danger">Cet élément sera présent dans le titre de votre page dans le navigateur</li>
    </ul>
    <p>Une description. Exemple:</p>
    <ul class="no-vertical-spacing">
        <li>Page de bienvenue de ...</li>
        <li>Bienvenue sur le site de l'entreprise ...</li>
        <li class="text-danger">Cet élément sera présent dans la description de cette page sur les moteurs de
            recherche
        </li>
    </ul>
{% endblock %}

{% block modal_class %}
    $(this).addClass('pull-bottom-right');
    $('.panel-body').addClass('z-index');
    $('.panel-body').find('.panel-mint:not(:first-child)').addClass('no-z-index');
    $(this).children('.modal-dialog').addClass('with-border');
{% endblock %}

{% block tuto_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% set tuto = app.request.get('tuto') %}
            if ('{{ tuto }}' === '2-3') {
                var tutoMenu = prepareTuto{{ tuto_id }}();
                tutoMenu.modal('show');
            }
        });
    </script>

{% endblock %}

{% block exit_action %}
    window.location.href = '{{ path('bo-seo') }}';
    return;
{% endblock %}