
.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.ml50 {
    margin-left: 50px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

:root {
    --color-izibrick: #25476a;
}

::selection {
    color: #fff;
    background-color: var(--color-izibrick);
}

.g-bg-izibrick {
    background-color: var(--color-izibrick);
}

.u-btn-izibrick {
    background-color: var(--color-izibrick);
    color: white;
}

.u-btn-izibrick:hover {
    background-color: var(--color-izibrick);
    color: white;
}

.u-btn-outline-izibrick {
    color: var(--color-izibrick);
    border-color: var(--color-izibrick);
    background-color: transparent;
}

.u-btn-outline-izibrick:hover {
    color: #fff !important;
    background-color: var(--color-izibrick);
}

#navBar a:hover {
    color: var(--color-izibrick) !important;
}

#banner {
    background-color: var(--color-izibrick) !important;
}

.g-bg-izibrick-light-v5 {
    background-color: #ecf0f5 !important;
}

.nav-link i {
    line-height: 1.6 !important;
}

.nav-link.active {
    background-color: var(--color-izibrick);
    color: white;
    border: none;
}

.cbp-item.selected > .cbp-item-wrapper > div:last-child {
    background-color: var(--color-izibrick) !important;
    color: white !important;
}

.progress-bar-izibrick {
    background-color: var(--color-izibrick);
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.alert-error > ul {
    margin-bottom: 0;
}

.alert-error > ul > li {
    list-style: none;
}

.width-100 {
    width: 100% !important;
}

.ml-10 {
    margin-left: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.dashboard-logo {
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 20px;
}

.option-block {
    border: solid 1px #F7F7F7;
    cursor: pointer;
    border-radius: .25rem;
}

.option-block:hover {
    border: solid 1px #25476a !important;
}

.option-block.selected {
    border: solid 1px #25476a !important;
    background-color: #25476a;
    color: white;
}

.option-radio {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20%;
}

.option-price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: small;
    font-weight: bold;
}

.option-domain {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: small;
}

.option-domain input{
    padding: .375rem .75rem;
    font-size: small;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pad-bottom {
    padding-bottom: 15px;
}

.bord-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.color-red {
    color: red;
}


.form-errors {
    margin-top: -10px;
}

.form-errors > ul {
    padding-left: 10px;
}

.form-errors > ul > li {
    color: #C00;
    list-style-type: none;
    font-size: .9em;
}