
.mt0 {
    margin-top: 0px !important;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.ml50 {
    margin-left: 50px;
}

.mt100 {
    margin-top: 100px;
}

.ml100 {
    margin-left: 100px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

:root {
    --color-izibrick: #25476a;
}

.margin-t-b-10 {
    margin: 10px 0;
}

::selection {
    color: #fff;
    background-color: #25476a;
}

.g-bg-izibrick {
    background-color: #25476a;
}

.u-btn-izibrick {
    background-color: #25476a;
    color: white;
}

.u-btn-izibrick:hover {
    background-color: #25476a;
    color: white;
}

.u-btn-outline-izibrick {
    color: #25476a;
    border-color: #25476a;
    background-color: transparent;
}

.u-btn-outline-izibrick:hover {
    color: #fff !important;
    background-color: #25476a;
}

#navBar a:hover {
    color: #25476a !important;
}

#banner {
    background-color: #25476a !important;
}

.g-bg-izibrick-light-v5 {
    background-color: #ecf0f5 !important;
}

.nav-link i {
    line-height: 1.6 !important;
}

.nav-link.active {
    background-color: #25476a;
    color: white;
    border: none;
}

.cbp-item.selected > .cbp-item-wrapper > div:last-child {
    background-color: #25476a !important;
    color: white !important;
}

.progress-bar-izibrick {
    background-color: #25476a;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.alert-error > ul {
    margin-bottom: 0;
}

.alert-error > ul > li {
    list-style: none;
}

.width-100 {
    width: 100% !important;
}

.ml-10 {
    margin-left: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.dashboard-logo {
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 20px;
}

.option-block {
    border: solid 1px #F7F7F7;
    cursor: pointer;
    border-radius: .25rem;
}

.option-block:hover {
    border: solid 1px #25476a !important;
}

.option-block.selected {
    border: solid 1px #25476a !important;
    background-color: #25476a;
    color: white;
}

.option-radio {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20%;
}

.option-price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: small;
    font-weight: bold;
}

.option-domain {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: small;
}

.option-domain input {
    padding: .375rem .75rem;
    font-size: small;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pad-bottom {
    padding-bottom: 15px;
}

.bord-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.color-red {
    color: red;
}

.tuto-modal-title {
    font-size: 22px;
}

.tuto-menu-item {
    text-align: center;
    min-height: 60px;
    display: table-cell;
    padding: 2px !important;
}

.tuto-menu-item > div {
    border: solid 1px #f7f7f7;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 0;
}

.tuto-menu-item > div:hover {
    border: solid 1px white;
    background-color: #25476a;
}

.tuto-menu-item > div:hover a, .tuto-menu-item > div:hover .text-main {
    color: white;
}

.tuto-menu-item > div i {
    font-size: 35px;
    margin-bottom: 10px;
}


.form-errors {
    margin-top: 10px;
}

.form-errors > ul {
    padding-left: 10px;
}

.form-errors > ul > li {
    color: #C00;
    list-style-type: none;
    font-size: .9em;
}

.modal-dialog.animated {
    -webkit-animation-duration: .5s;
    animation-duration: 0.5s;
}

.no-z-index {
    z-index: 1 !important;
    opacity: 0.1;
}

.z-index {
    z-index: 10000 !important;
    opacity: 1;
}

.tuto-decal-menu-gauche {
    margin-left: 100px;
}

.panel-body {
    position: relative;
}

.media-body > ul > li {
    margin-bottom: 15px;
}

.media-body li > i {
    margin-right: 5px;
}

.tuto-helper {
    width: 100px;
}

.no-display {
    display: none;
}

.text-italic {
    font-style: italic;
}

.media-body img {
    padding: 0 30px 20px;
}

ul.no-vertical-spacing > li {
    margin-bottom: 0 !important;
}

.pull-bottom-right > .modal-dialog {
    position: absolute;
    bottom: 50px;
    right: 15px;
}

.with-border {
    border: solid 2px #25476A;
    border-radius: 5px;
}

.border-shadow {
    box-shadow: 0px 0px 5px 0px grey;
}

.no-padding {
    padding: 0 !important;
}

.u-file-attach-v3 {
    padding: 10px !important;
    cursor: pointer;
    position: relative;
    text-align: center;
    background-color: #f7f7f7;
    overflow: hidden;
    border: 1px dashed #ccc;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

.cbp-item {
    cursor: pointer;
}