
.editor-slider-row {
    width: 100% !important;
    display: flex !important;
}

.editor-slider-col-img {
    height: 60px !important;
    width: 25% !important;
    float: left !important;
}

.editor-slider-col-img img {
    height: inherit;
}

.editor-slider-col-alt {
    width: 55% !important;
    height: 40px !important;
    float: left !important;
}

.editor-slider-col-alt input {
    margin: 5px 0;
}

.dialog-slider-input {
    display: block !important;
    margin: 2px !important;
}

.editor-slider-col-action {
    float: left !important;
    height: 60px !important;
    line-height: 60px !important;
}

.editor-slider-col-action i {
    padding: 5px;
}

[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-danger {
    color: #f22314 !important;
}

.element-centered > table tr td {
    text-align: center;
}

.hide-label > label {
    display: none !important;
}

#render {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.radiogroup div.hide-label td, div.alignment {
    text-align: center ! important;
}

div.alignment img {
    margin: 0 1px;
    border: solid 1px #AAA;
    padding: 4px;
    width: 25px;
}

div.alignment img.selected {
    background-color: rgba(0, 0, 0, .2);
}

.carousel-caption.align-tl, .carousel-caption.align-tc, .carousel-caption.align-tr,
.carousel-caption.align-ml, .carousel-caption.align-mc, .carousel-caption.align-mr,
.carousel-caption.align-bl, .carousel-caption.align-bc, .carousel-caption.align-br {
    position: absolute;
}

.carousel-caption.align-tl, .carousel-caption.align-tc, .carousel-caption.align-tr {
    top: 0;
}

.carousel-caption.align-ml, .carousel-caption.align-mc, .carousel-caption.align-mr {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption.align-bl, .carousel-caption.align-bc, .carousel-caption.align-br {
    bottom: 0;
}

.carousel-caption.align-tl, .carousel-caption.align-ml, .carousel-caption.align-bl {
    left: 30px;
    text-align: left;
}

.carousel-caption.align-tc, .carousel-caption.align-mc, .carousel-caption.align-bc {
    text-align: center;
}

.carousel-caption.align-tr, .carousel-caption.align-mr, .carousel-caption.align-br {
    right: 30px;
    text-align: right;
}

.page-header.page-header-text-light h1 {
    font-size: 40px;
}

.page-header.page-header-text-light h2 {
    font-size: 30px;
    margin-top: 5px;
}

#slicky_sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#slicky_sortable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
    border-color: transparent;
    position: relative;
    cursor: move;
}

#slicky_sortable li:hover, #slicky_sortable li.selected {
    border-color: grey;
    background-color: rgba(127, 127, 127, .3);
}

#slicky_sortable div.block_img {
    width: 100px;
    cursor: move;
}

#slicky_sortable i.ti-trash {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1em;
    cursor: pointer;
}

#slicky_sortable div.block_img img {
    width: 100%;
    cursor: move;
}

#slicky_sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

.slickyParam {
    margin-top: 10px !important;
}

img.cke_slicky {
    background-image: url(http://www.izibrick.test/bundles/fosckeditor/plugins/slicky/imgs/fakeText.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #a9a9a9;
}

.render-btn {
    display: flex;
    text-align: center;
}