.container img {
    max-width: unset !important;
}

a.active {
    color: var(--colorTheme) !important;
}

footer {
    background: var(--colorTheme) !important;
    color: var(--textColor) !important;
}

footer, footer p {
    color: white !important;
    padding: 20px 0px 0px 0px;
}

.logo-title {
    font-size: 1.5em;
    padding-left: 10px;
}

.footer-title {
    font-size: 1.5em;
    padding-left: 10px;
}

.v-heading-v2 h2,
.v-heading-v2 h3,
.v-heading-v2 h4,
.v-link:hover,
.v-search-items a:hover,
.post-info a,
.tags-wrap .tags a,
.v-team-member-box .read-more:hover,
.v-tweets-slide-widget .tweet-text a {
    border-bottom-color: var(--colorTheme);
}

.v-pagination li a:hover,
ul.bar-styling li:not(.selected) > a:hover,
ul.bar-styling li > .comments-likes:hover,
ul.page-numbers li > a:hover,
ul.page-numbers li > span.current,
.slideout-filter ul li.selected a,
.btn.v-btn.v-btn-default{
    background: var(--colorTheme);
    color: var(--textColor) !important;
}

.v-blog-item-info .v-btn.sf-icon-stroke i, .mini-v-blog-item-wrap .v-btn.sf-icon-stroke i, .post-inner .v-btn.sf-icon-stroke i {
    background: var(--colorTheme);
    color: var(--textColor) !important;
}

html.sticky-header-active #header.header-transparent .header-body .logo-title {
    color: #333 !important;
}

@media (max-width: 767px) {
    #index-container img, #presentation-container img, .blog-detail-container img {
        width: 100% !important;
        height: 100% !important;
        margin: 20px 0 !important;
    }

}