{% extends 'admin/tutorial/partial/base.html.twig' %}

{% block tuto_body %}
    <p class="text-semibold text-main">Renseignement des éléments de référencement</p>
    <p>Dans la page de référencement, et plus particulièrement dans la rubrique de la page <strong>Accueil</strong>, vous devez indiquer un titre et une description.</p>
    <p>Le titre. Exemple:</p>
    <ul class="no-vertical-spacing">
        <li>Accueil <span class="text-italic">(par défaut)</span></li>
        <li class="text-primary">Cet élément est visible dans le titre de la page de votre navigateur internet</li>
    </ul>
    <p>Une description. Exemple:</p>
    <ul class="no-vertical-spacing">
        <li>Bienvenue sur le site de l'entreprise ...</li>
        <li class="text-primary">Votre description est affichée dans le résultat des moteurs de recherche
        </li>
    </ul>
{% endblock %}

{% block modal_class %}
    $(this).addClass('pull-bottom-right');
    $('.panel-body').addClass('z-index');
    $('.panel-body').find('.panel-mint:not(:first-child)').addClass('no-z-index');
    $(this).children('.modal-dialog').addClass('with-border');
{% endblock %}

{% block tuto_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% set tuto = app.request.get('tuto') %}
            if ('{{ tuto }}' === '3-3') {
                var tutoMenu = prepareTuto{{ tuto_id }}();
                tutoMenu.modal('show');
            }
        });
    </script>

{% endblock %}

{% block exit_action %}
    window.location.href = '{{ path('bo-seo') }}';
    return;
{% endblock %}