{% extends 'bo/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url({{ asset('templates/bo/img/bg6.jpg') }});"></div>
        <!-- End Parallax Image -->

        <!-- Promo Block Content -->
        <div class="container g-color-white text-center g-py-120">
            <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Fonctionnalités</h3>
        </div>
        <!-- Promo Block Content -->
    </section>


    <section class="container g-pt-100 g-pb-50">
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">FireBrock</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    <p class="mb-0">Choisissez un thème, une couleur et un logo et partagez votre site internet professionnel.</p>
                </div>
                <!-- End Heading -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 g-mb-50">
                <img class="img-fluid" src="{{ asset('templates/bo/img/bg6.jpg') }}" alt="Image Description">
            </div>
            <div class="col-lg-6">
                <div class="mb-5">
                    <p class="g-mb-30">As creatives, it's important that we strive to do work outside of obligation. This lets us stay ahead of the curve for our clients and internal projects.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled g-font-size-13 mb-0">
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Site responsive.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Assistance à la création.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Accès à votre back-office.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Support par mail.
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul class="list-unstyled g-font-size-13 mb-0">
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Suivi des visites (offre professionnelle).
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Campagne publicitaire (offre professionnelle).
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
