.container img {
    max-width: unset !important;
}

.mt10 {
    margin-top: 10px;
}

.mt50 {
    margin-top: 50px;
}

.mb20 {
    margin-bottom: 20px;
}

::selection {
    background: var(--colorTheme) !important;
}

.body-wrapper a:hover,
.top-body a:hover,
.top-footer a:hover {
    color: var(--colorTheme) !important;
}

.blog-post-details-item.blog-post-details-item-right a:hover i {
    color: var(--colorTheme) !important;
}

#header {
    /*background-color: var(--headerBackgroundColor) !important;
    color: var(--headerTextColor) !important;*/
}

#footer {
    background: var(--footerBackgroundColor) !important;
    color: var(--footerTextColor) !important;
}

footer, footer p {
    color: white !important;
    padding: 20px 0px 0px 0px;
}

.button, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], .section-content.section-color-bg, .content-box.content-style4 h4 i, button.button-main, .body-wrapper .tags a:hover, .callout-box.callout-box2, .blog-search .blog-search-button, .top-title-wrapper, .testimonial-big,
.content-style3:hover .content-style3-icon, table.table thead tr, .price-table .price-label-badge, .price-table .price-table-header, .section-subscribe .subscribe-button.icon-envelope-alt {
    background-color: var(--colorTheme) !important;
    color: var(--textColor) !important;
}

.blog-post .blog-post-type {
    background-color: var(--colorTheme) !important;
    color: var(--textColor) !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.h1-page-title, .h2-page-desc {
    color: var(--textColor) !important;
}

.btn, input[type="submit"], input[type="button"], button.btn, .btn-izibrick {
    background-color: var(--colorTheme) !important;
    color: var(--textColor) !important;
}

.logo-title {
    font-size: 1.5em;
    padding-left: 10px;
    color: var(--headerTextColor);
}
.sticky-header-active .logo-title {
    color: var(--headerTextColorBandeauDisplayed);
}

.copyright {
    /*background-color: var(--colorTheme) !important;*/
}


.carousel-caption.align-tl, .carousel-caption.align-tc, .carousel-caption.align-tr,
.carousel-caption.align-ml, .carousel-caption.align-mc, .carousel-caption.align-mr,
.carousel-caption.align-bl, .carousel-caption.align-bc, .carousel-caption.align-br {
    position: absolute;
}

.carousel-caption.align-tl, .carousel-caption.align-tc, .carousel-caption.align-tr {
    top: 0;
}

.carousel-caption.align-ml, .carousel-caption.align-mc, .carousel-caption.align-mr {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption.align-bl, .carousel-caption.align-bc, .carousel-caption.align-br {
    bottom: 0;
}

.carousel-caption.align-tl, .carousel-caption.align-ml, .carousel-caption.align-bl {
    left: 30px;
    text-align: left;
}

.carousel-caption.align-tc, .carousel-caption.align-mc, .carousel-caption.align-bc {
    text-align: center;
}

.carousel-caption.align-tr, .carousel-caption.align-mr, .carousel-caption.align-br {
    right: 30px;
    text-align: right;
}

.text-button-blog {
    color: #000 !important;
    background-color: #FFF;
}

.navigation nav ul {
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

ul.v-blog-items {
    padding-inline-start: unset !important;
}

.no-background {
    background: none !important;
}
.with-background {
    background: var(--headerBackgroundColor) !important;
}
