.mt10 {
    margin-top: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml10 {
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}


.form-errors {
    margin-top: -10px;
}

.form-errors > ul {
    padding-left: 10px;
}

.form-errors > ul > li {
    color: #C00;
    list-style-type: none;
    font-weight: bold;
    font-size: .9em;
}

.bloc-price {
    text-align: center;
    padding-right: 10px;
}

.bloc-price > .price {
    font-weight: bold;
    color: #29b2a6;
}

.ug-thumb-wrapper.ug-tile.selected .ug-textpanel-bg.ug-trans-enabled {
    background-color: #0b141e !important;
}

.ug-textpanel .ug-trans-enabled {
    cursor: pointer;
}

.margin-right-10 {
    margin-right: 10px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}

.navbar-content .username {
    padding-left: 10px;
}

.header-description {
    margin-left: 10px;
    font-style: italic;
}

#wizard ul.wz-step {
    padding-inline-start: 0;
}

#wizard ul.wz-step > li {
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
}

#wizard ul.wz-step > li:not(.active) h5 {
    font-weight: normal;
}

#wizard ul.wz-step > li i.icon-2x {
    padding-bottom: 5px;
}

#summernote-edit {
    border-left: solid 2px #CCC;
    padding: 5px;
}

#footer {
    position: unset;
}

#wizard-tab4 .panel-body {
    text-align: center;
    padding-top: 25px;
}

.banner {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
