{% extends 'sites/template-' ~ site.template.id ~ '/base.html.twig' %}

{% block title %}{{ site.name }} - {{ page.seoTitle }}{% endblock %}
{% block description %}{{ page.seoDescription }}{% endblock %}

{% block presentationActive %}active{% endblock %}

{% block body %}
    <div class="v-page-wrap no-top-spacing">
        <div class="pb-0">
            <div class="container">
                {{ page.pagesTypePresentation.content|wysiwygContent|raw }}
            </div>
        </div>
    </div>
{% endblock %}
