{% extends 'admin/tutorial/partial/base.html.twig' %}

{% block tuto_body %}
    <p class="text-semibold text-main">Voici les thèmes du tutoriel</p>
    <!--<div class="col-sm-4 tuto-menu-item pad-no">
        <div class="panel pos-rel">
            <div class="pad-all text-center">
                <a href="#">
                    <i class="fa fa-star icon-lg icon-fw"></i>
                    <p class="text-md text-semibold mar-no text-main">La totale</p>
                    <p class="text-sm mar-no text-main text-italic">&nbsp;</p>
                </a>
            </div>
        </div>
    </div>-->
    <div class="col-sm-4 tuto-menu-item pad-no">
        <div class="panel pos-rel">
            <div class="pad-all text-center">
                <a href="{{ path('dashboard', {'tuto':1}) }}">
                    <i class="fa fa-bars icon-lg icon-fw"></i>
                    <p class="text-md text-semibold mar-no text-main">1. Les menus</p>
                    <p class="text-sm mar-no text-main text-italic">3 étapes</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 tuto-menu-item pad-no">
        <div class="panel pos-rel">
            <div class="pad-all text-center">
                <a href="{{ path('dashboard', {'tuto':2}) }}">
                    <i class="fa fa-trophy icon-lg icon-fw"></i>
                    <p class="text-md text-semibold mar-no text-main">2. Le référencement</p>
                    <p class="text-sm mar-no text-main text-italic">3 étapes</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 tuto-menu-item pad-no">
        <div class="panel pos-rel">
            <div class="pad-all text-center">
                <a href="{{ path('dashboard', {'tuto':3}) }}">
                    <i class="fa fa-file icon-lg icon-fw"></i>
                    <p class="text-md text-semibold mar-no text-main">3. Ma formule</p>
                    <p class="text-sm mar-no text-main text-italic">3 étapes</p>
                </a>
            </div>
        </div>
    </div>
    <!--<div class="col-sm-4 tuto-menu-item pad-no">
        <div class="panel pos-rel">
            <div class="pad-all text-center">
                <a href="#">
                    <i class="fa fa-line-chart icon-lg icon-fw"></i>
                    <p class="text-md text-semibold mar-no text-main">4. Statistiques</p>
                </a>
            </div>
        </div>
    </div>-->
    <div class="col-sm-4 tuto-menu-item pad-no">
        <div class="panel pos-rel">
            <div class="pad-all text-center">
                <a href="{{ path('dashboard', {'tuto':4}) }}">
                    <i class="fa fa-window-maximize icon-lg icon-fw"></i>
                    <p class="text-md text-semibold mar-no text-main">4. Les pages</p>
                    <p class="text-sm mar-no text-main text-italic">3 étapes</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
