<div id="tuto-1-html" class="hidden">
    <div class="media">
        <div class="media-left">
            <img class="media-object img-md mar-all"
                 src="{{ asset('assets/img/logo/logo-izibrick.png') }}"
                 alt="Avatar"></div>
        <div class="media-body">
            <p class="text-semibold text-main">Bienvenue sur le tutoriel de l'<strong
                        class="text-primary">administration de izibrick</strong></p>
            <p>Nous allons parcourir ensemble l'ensemble des fonctionnalités de l'administration pour vous permettre de
                profiter pleinement de l'outil</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        prepareTutoPrelude1 = function () {
            dialog = bootbox.dialog({
                size: 'large',
                title: createTitle('Bienvenue dans le tutoriel'),
                message: $('#tuto-1-html').html(),
                onEscape: false,
                backdrop: true,
                closeButton: false,
                show: false,
                animateIn: 'fadeInLeft',
                animateOut: 'fadeOutRight',
                buttons: {
                    confirm: {
                        label: "Accéder au menu",
                        className: 'btn-primary btn-sm',
                        callback: function () {
                            forwardModal('Prelude1', 'Prelude2');
                        }
                    },
                    cancel: {
                        label: 'Quitter le tutoriel',
                        className: 'btn-danger pull-left btn-sm',
                        callback: function () {
                            exitTuto();
                        }
                    }
                }
            });
            dialog.on("shown.bs.modal", function () {
                dialog.attr("id", "tuto-Prelude1");
            });
            return dialog;
        }
    });

</script>