{% extends 'admin/tutorial/partial/base.html.twig' %}

{% block tuto_body %}
    <p class="text-semibold text-main">Bienvenue dans le tutoriel de l'<strong
                class="text-primary">administration de votre site</strong></p>
    <p>Nous allons parcourir ensemble toutes les fonctionnalités de l'administration qui vous permettent de mettre à jour votre site internet et d'optimiser votre référencement.</p>
{% endblock %}