{% extends 'admin/tutorial/partial/base.html.twig' %}

{% block tuto_body %}
    <p class="text-semibold text-main">Bienvenue sur le tutoriel de l'<strong
                class="text-primary">administration de izibrick</strong></p>
    <p>Nous allons parcourir ensemble l'ensemble des fonctionnalités de l'administration pour vous permettre de
        profiter pleinement de l'outil</p>
{% endblock %}