{% extends 'admin/tutorial/partial/base.html.twig' %}

{% block tuto_body %}
    <p class="text-semibold text-main">Ma formule</p>
    <ul>
        <li>A remplir
        </li>
        <li>A remplir
        </li>
    </ul>
{% endblock %}

{% block tuto_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% set tuto = app.request.get('tuto') %}
            if ('{{ tuto }}' === '3') {
                var tutoMenu = prepareTuto{{ tuto_id }}();
                tutoMenu.modal('show');
            }
        });
    </script>

{% endblock %}